* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.label {
    width: 15%;
    float: left;
}

.reply {
    width: 85%;
    float: left;
}

button {
    border-radius: 5px;
}

.error {
    color: red;
}
