* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

.label {
    width: 25%;
    float: left;
}

.reply {
    width: 75%;
    float: left;
}

button {
    border-radius: 5px;
}

.error {
    color: red;
}

div {
    padding-bottom: 10px;
    height: 40px;
}

.reply input {
    height: 20px;
}
